@font-face {
  font-family: "MyFont";
  src: url("./assets/fonts/RobotoCondensed.ttf");
}

body {
  text-align: center;
  background-image: url(./assets/images/background.webp);
}

.btn {
  margin: 5px;
}

h1 {
  margin-top: 10px;
}
