<div class="container mt-5">
  <div *ngIf="!registerMode">
    <h1>Find your match</h1>
    <p class="lead">sign up to view all the potential matches!</p>
    <div class="text-center">
      <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">
        Register
      </button>
      <button class="btn btn-primary btn-lg btn-info">Learn more</button>
    </div>
  </div>

  <div class="container" *ngIf="registerMode">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register (cancelRegister)="cancelRegisterMode($event)" />
      </div>
    </div>
  </div>
</div>
