<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-primary">Sign up</h2>
  <div class="mb-3">
    <input
      type="text"
      [class.is-invalid]="
        registerForm.get('username')?.errors &&
        registerForm.get('username')?.touched
      "
      class="form-control"
      formControlName="username"
      placeholder="Username"
    />
    <div class="invalid-feedback">Please enter a username</div>
  </div>

  <div class="mb-3">
    <input
      type="password"
      class="form-control"
      formControlName="password"
      placeholder="Password"
    />
  </div>

  <div class="mb-3">
    <input
      type="password"
      class="form-control"
      formControlName="confirmPassword"
      placeholder="Confirm Password"
    />
  </div>

  <button class="btn btn-primary" type="submit">Register</button>
  <button class="btn btn-secondary" type="button" (click)="cancel()">
    Cancel
  </button>
</form>
