<div>
  <h2>Your Matches - {{ pagination?.totalItems }} found</h2>
</div>

<div *ngIf="userParams">
  <form #form="ngForm" (ngSubmit)="loadMembers()" autocomplete="off">
    <div class="filters">
      <div class="filter">
        <label class="col-form-label">Age From: </label>
        <input
          type="number"
          class="form-control"
          name="mimAge"
          [(ngModel)]="userParams.minAge"
        />
      </div>

      <div class="filter">
        <label class="col-form-label">Age To: </label>
        <input
          type="number"
          class="form-control"
          name="maxAge"
          [(ngModel)]="userParams.maxAge"
        />
      </div>

      <div class="filter">
        <label class="col-form-label">Gender: </label>
        <select
          name="gender"
          class="form-select"
          [(ngModel)]="userParams.desiredGender"
        >
          <option *ngFor="let gender of genderList" [value]="gender.value">
            {{ gender.display }}
          </option>
        </select>
      </div>

      <div class="btn-group">
        <button class="btn btn-primary" type="submit">Apply Filters</button>
        <button
          class="btn btn-secondary"
          (click)="resetFilters()"
          type="submit"
        >
          Reset Filters
        </button>
      </div>
    </div>

    <div class="sort">
      <div class="btn-group">
        <button
          type="button"
          class="btn btn-info"
          name="orderBy"
          [(ngModel)]="userParams.orderBy"
          btnRadio="lastActive"
          (click)="loadMembers()"
        >
          Last Active
        </button>

        <button
          type="button"
          class="btn btn-info"
          name="orderBy"
          [(ngModel)]="userParams.orderBy"
          btnRadio="created"
          (click)="loadMembers()"
        >
          Newest
        </button>
      </div>
    </div>
  </form>
</div>

<div class="row justify-content-center">
  <div class="col" *ngFor="let member of members">
    <app-member-card [member]="member"></app-member-card>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [itemsPerPage]="pagination.itemsPerPage"
    [maxSize]="10"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
