<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img
        src="/assets/images/logo-no-background.png"
        alt="logo"
        height="50px"
      />
    </a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <ng-container *ngIf="accountService.currentUser$ | async">
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/members"
              routerLinkActive="active-link"
              >Matches</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/lists"
              routerLinkActive="active-link"
              >Lists</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/messages"
              routerLinkActive="active-link"
              >Messages</a
            >
          </li>
        </ng-container>
      </ul>
    </div>

    <div
      class="dropdown"
      *ngIf="accountService.currentUser$ | async as user"
      dropdown
    >
      <img src="{{ user.photoUrl || './assets/user.png' }}" alt="user photo" />
      <a class="dropdown-toggle text-decoration-none ms-2" dropdownToggle
        >Welcome {{ user.knownAs }}</a
      >
      <div class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item" routerLink="/member/edit">Edit Profile</a>
        <a class="dropdown-item" (click)="logout()">logout</a>
      </div>
    </div>

    <form
      *ngIf="!(accountService.currentUser$ | async)"
      #loginForm="ngForm"
      class="d-flex"
      (ngSubmit)="login()"
      autocomplete="off"
    >
      <input
        name="username"
        [(ngModel)]="model.username"
        class="form-control me-2"
        type="text"
        placeholder="Username"
      />
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control me-2"
        type="password"
        placeholder="Password"
      />
      <button class="btn btn-success" type="submit">Login</button>
    </form>
  </div>
</nav>
