.navbar {
  padding: 0px;
}

a {
  font-size: 18px;
  color: black;
}

#user-photo {
  max-height: 40px;
  border-radius: 50px;
  display: inline;
}

.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}

.active-link {
  font-weight: 500;
}
