.navbar {
  padding: 0px;
  font-family: "MyFont";
}

a {
  font-size: 18px;
  color: black;
}

#user-photo {
  max-height: 40px;
  border: 2px solid white;
  display: inline;
}

.dropdown-toggle,
.dropdown-item {
  cursor: pointer;
}

.active-link {
  font-weight: 500;
}
